<div style="text-align: center;">
  <!-- logo -->

  <h1 class="app-title">Inventory Shop List</h1>
</div>
<div class="d-flex justify-content-center">
  <div class="container-fluid">
    <div class="header row row-cols-4">
      <div class="col-8 col-xs">Item</div>
      <div class="col-1 col-xs"><i class="bi bi-cart-plus"></i></div>
      <div class="col-1 col-xs"><i class="bi bi-alarm"></i></div>
      <div class="col-2 col-sm"></div>
    </div>
    <div class="row row-cols-4" *ngFor="let item of shopList">
      <div class="col-8 col-xs" [class.isDone]="item.isDone">
        {{item.itemName}}
      </div>
      <div class="col-1 col-xs">
        {{item.quantity}}
      </div>
      <div class="col-1 col-xs">
        {{item.alertQuantity}}
      </div>
      <div class="col-2 col-xs">
        <button class="btn btn-primary btn-sm" (click)="shoppedItem(item)">
          <i class="bi bi-recycle"></i>
        </button>
      </div>
    </div>
  </div>
</div>
